{% extends "main.html" %}
{% load static %}
{% block title %}Journey Started{% endblock %}

{% block container %}
<div class="journey-page">
    <h1>🎉 Your Journey Has Started! 🎉</h1>
    <p>Thank you for joining us on this exciting journey of daily motivation!</p>
    <p><strong>Check your email</strong> for your first motivational quote. We’ll keep sending you inspiring content to brighten your day.</p>
    <span style="color: #d9534f; font-weight: bold;">
            If you don't see the email, please check your <u>Spam</u> or <u>Junk</u> folder and mark it as "Not Spam" to receive future emails in your inbox.
        </span>
    <p>We are constantly working to improve this application and will be adding new features in the future. Stay tuned! 😊</p>
    <a href="{% url 'home' %}" class="button">Back to Home</a>
</div>
{% endblock %}